In [1]:
import pandas as pd

In [2]:
#Crie um dicionario com autores, preços e títulos

dictionary = { 'autores' : ['Machado de Assis', 'Eça de Queiroz', 'Graciliano Ramos'] , 
              'Títulos': ['Dom Casmurro', 'O Crime do Padre Amaro', 'Vidas Secas'],  'Preços': [20, 40 , 30 ]}

## Data Frame

df = pd.DataFrame(dictionary)

print(df)

            autores                 Títulos  Preços
0  Machado de Assis            Dom Casmurro      20
1    Eça de Queiroz  O Crime do Padre Amaro      40
2  Graciliano Ramos             Vidas Secas      30

In [3]:
df['autores']

0    Machado de Assis
1      Eça de Queiroz
2    Graciliano Ramos
Name: autores, dtype: object

In [4]:
df['autores'][0]

'Machado de Assis'

In [5]:
df['autores']== 'Machado de Assis'
mascara= (df['autores']=='Machado de Assis')
df[mascara]

            autores       Títulos  Preços
0  Machado de Assis  Dom Casmurro      20

In [16]:
df.loc[len(df)] = {'autores':'Machado de Assis', 'Título': 'Memórias Póstumas de Brás Cubas', 'Preço': 100}

In [17]:
df

            autores                 Títulos  Preços
0  Machado de Assis            Dom Casmurro    20.0
1    Eça de Queiroz  O Crime do Padre Amaro    40.0
2  Graciliano Ramos             Vidas Secas    30.0
3  Machado de Assis                     NaN     NaN

In [18]:
pd.concat([df, pd.DataFrame([{'autores':['Machado de Assis'], 'Títulos': ['Memórias Póstumas de Brás Cubas'], 'Preços': [100]}])],  ignore_index = True)

              autores                            Títulos Preços
0    Machado de Assis                       Dom Casmurro   20.0
1      Eça de Queiroz             O Crime do Padre Amaro   40.0
2    Graciliano Ramos                        Vidas Secas   30.0
3    Machado de Assis                                NaN    NaN
4  [Machado de Assis]  [Memórias Póstumas de Brás Cubas]  [100]

In [7]:
df.concat({'autores':'Machado de Assis', 'Título': 'Memórias Póstumas de Brás Cubas', 'Preço': 100}, ignore_index = True)

AttributeError: 'DataFrame' object has no attribute 'concat'